doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/components/marionette/lib/backbone.marionette.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/init.js')
    script(src='/js/client.js')
    title MusicEngine
  body